.btn_blue {
  font-size: 25px;
}
.bg_blue{
  background-color: #0248ff;
}

/* header */
.header_top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 3;
}

.navbar_logo {
  width: 180px;
  /* margin-top: 13px; */
}
.background_navbar {
  background-color: red;
  line-height: 3;
}
.height_container_navbar {
  height: 70px;
}
.background_navbar_center {
  background-color: pink;
}
.text-center nav ul li {
  text-decoration: none;
  display: inline;
}
.text-center nav ul li a {
  font-size: 16px;
  color: #031b4e;
  margin: 10px;
}
.text-center nav ul li a:hover {
  color:#0148FC;
  text-decoration: none;
}
/* jambo */
.jumbo {
  margin-top: 80px;
  padding: 80px 0;
}
.jumbo_text {
  width: 80%;
  margin: 0 auto;
}
.container_jambo{
  width: 100%;
}
.background_jumbo {
  background-color: yellow;
  padding: 50px;
}
h1 {
  color: white;
  font-size: 4em;
}
.p_jambo {
  color: #AAC2FF;
  font-weight: 700;
}
.box_jumbo {
  background-color: white;
  border-radius: 8px;
}
