.btn_blue {
  font-size: 25px;
}
.bg_blue{
  width: 100%;
  background-image: url(../img/sfondo-blue-digitalocean.jpg);
  background-size: cover;
}

/* header */
.header_top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 3;
}
.navbar_logo {
  width: 180px;
}
.background_navbar {
  line-height: 3;
}
.height_container_navbar {
  height: 90px;
}
.text-center nav ul li {
  text-decoration: none;
  display: inline;
}
.text-center nav ul li a {
  font-size: 16px;
  color: #031b4e;
  margin: 10px;
}
.text-center nav ul li a:hover {
  color:#0148FC;
  text-decoration: none;
}
.button {
  padding: 2px 5px;
  border: 2px solid #0069FF;
}
.button:hover {
  background-color: #0069FF;
  color: white;
}
.btn {
  color: #0069FF;
}
/* jambo */
.color_blue{
  color: #0248ff;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}
.jumbo {
  margin-top: 80px;
  padding: 80px 0;
}
.jumbo_text {
  width: 65%;
  margin: 0 auto;
}
.container_jambo{
  width: 100%;
}
h2 {
  text-align: center;
  color: #031b4e;
  font-size: 45px;
  font-weight: bold;
}
h1 {
  color: white;
  font-size: 6em;
}
.p_jambo {
  color: #AAC2FF;
  font-weight: 700;
  font-size: 30px;
}
.box_jumbo {
  background-color: white;
  border-radius: 8px;
}
.p_tabel {
  margin: 20px;
  text-align: center;
}
.terms_of_service {
  text-decoration: underline;
}

/* main */
.background_color {
  background-color: #F3F5F9;
}
.container .row ul li a img {
  /* padding-left: 32px; */
  padding-right: 10px;
  width: 100%;
  height: 50px;
}
.container .row ul li {
  width: 15%;
}

h3 {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #BCC2D1;
}
.img-rounded {
  width: 100%;
  margin: 20px;
}

.display_flex {
  /* display: flex; */
  list-style: none;
  display: inline-block;
  align-items: center;
  padding-right: 40px;
}

h4 {
  text-align: center;
  color: #005FE6;
}

h4:hover {
text-decoration: none;
}

h5 {
  text-decoration: none;
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
  color: #031b4e;
  font-size: 36px;
  font-weight: bold;
}
.testo_main {
  text-align: center;
  text-decoration: none;
  color: #697796;
  font-size: 20px;
}
.container_centrale {
  margin-top: 20px;
}
.left {
  width: 40%;
  padding-left: 30px;
}
.left ul li {
  list-style: none;
  margin: 20px 10px;
  color: #BCC2D1;
  font-size: 20px;
}
.border_grey {
  border-left: 2px solid #BCC2D1;
  padding: 10px;
}
.right {
  width: 60%;
}
h6 {
  color: #031B76;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.font_size {
  font-size: 18px;
  color: #4E5F83;
  text-transform: none;
  margin-bottom: 10px;
}
.padding_box {
  padding: 20px;
}
.create_doplet {
  text-align: center;
  margin-top: 80px;
}
.size_create_doplet{
  width: 50%;
}
.container .row .create_doplet a {
  font-size: 50px;
  margin: 20px;
}
.under_doplet{
  color: #031B4E;
  margin-top: 20px;
  font-weight: bold;
}
.pallini_blue{
  color: blue;
}
.palline p a i {
  font-size: 15px;
  margin: 20px;
}
.larghezza_testo {
  font-weight: bold;
}
.spazio_sopra{
  margin-top: 20px;
  margin-bottom: 20px;
}
.background_blue_main{
  background-color: blue;
  height: 100px;
}
.titolone_white {
  color: white;
  font-size: 36px;
  text-align: center;
  font-weight: bold;
}
/* main */

/* media query da 0 a 768px */

@media screen and (max-width: 768px;) {
  .col-xs-1 {
    width: calc((100% / 12) *1);
  }
  .col-xs-2 {
    width: calc((100% / 12) *2);
  }
  .col-xs-3 {
    width: calc((100% / 12) *3);
  }
  .col-xs-4 {
    width: calc((100% / 12) *4);
  }
  .col-xs-5 {
    width: calc((100% / 12) *5);
  }
  .col-xs-6 {
    width: calc((100% / 12) *6);
  }
  .col-xs-7 {
    width: calc((100% / 12) *7);
  }
  .col-xs-8 {
    width: calc((100% / 12) *8);
  }
  .col-xs-9 {
    width: calc((100% / 12) *9);
  }
  .col-xs-10 {
    width: calc((100% / 12) *10);
  }
  .col-xs-11 {
    width: calc((100% / 12) *11);
  }
  .col-xs-12 {
    width: calc((100% / 12) *12);
  }
}

/* da 768px a 992px */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .col-md-1 {
    width: calc((100% / 12) *1);
  }
  .col-md-2 {
    width: calc((100% / 12) *2);
  }
  .col-md-3 {
    width: calc((100% / 12) *3);
  }
  .col-md-4 {
    width: calc((100% / 12) *4);
  }
  .col-md-5 {
    width: calc((100% / 12) *5);
  }
  .col-md-6 {
    width: calc((100% / 12) *6);
  }
  .col-md-7 {
    width: calc((100% / 12) *7);
  }
  .col-md-8 {
    width: calc((100% / 12) *8);
  }
  .col-md-9 {
    width: calc((100% / 12) *9);
  }
  .col-md-10 {
    width: calc((100% / 12) *10);
  }
  .col-md-11 {
    width: calc((100% / 12) *11);
  }
  .col-md-12 {
    width: calc((100% / 12) *12);
  }
}

@media screen and (min-width: 1200px) {
  .col-lg-1 {
    width: calc((100% / 12) *1);
  }
  .col-lg-2 {
    width: calc((100% / 12) *2);
  }
  .col-lg-3 {
    width: calc((100% / 12) *3);
  }
  .col-lg-4 {
    width: calc((100% / 12) *4);
  }
  .col-lg-5 {
    width: calc((100% / 12) *5);
  }
  .col-lg-6 {
    width: calc((100% / 12) *6);
  }
  .col-lg-7 {
    width: calc((100% / 12) *7);
  }
  .col-lg-8 {
    width: calc((100% / 12) *8);
  }
  .col-lg-9 {
    width: calc((100% / 12) *9);
  }
  .col-lg-10 {
    width: calc((100% / 12) *10);
  }
  .col-lg-11 {
    width: calc((100% / 12) *11);
  }
  .col-lg-12 {
    width: calc((100% / 12) *12);
  }
}
